html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  width: auto;
  flex-shrink: 0;
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid lightgray;
  margin: 1rem 0 0 0;
}
